# upload tools
stm8flash
STM8_serial_flasher
STM8_serial_flasher.exe

# SDCC build output
Makefile
output

# Cosmic build output
Release
Debug

# untested or unfinished projects (starting with 'x_')
x_*

# misc: STM8 documentation, ideas, scripts, etc.
Ideen.txt
doxygen/html
/Docu/Manuals
/Docu/Obsolete
/Docu/PiAndMore_2017
/Docu/.~lock.*

/Projects/General_Examples/Attach_1ms_Interrupt/output/gpio.asm
